<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Or Join Meeting</title>
    <link rel="stylesheet" href="public/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="public/Assets/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body style="padding-top: 3.5rem;">
  <nav class="navbar navbar-expand-md fixed-top">
      <img src="public/assets/images/Breakout.jpg" class="logo" alt="">
      <a href="#" class="navbar-brand text-dark">Breakout</a>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a href="/users/login" class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                  <a href="/users/register" class="nav-link">Register</a>
              </li>
              <li class="nav-item">
                  <a href="About Us.html" class="nav-link">About us</a>
              </li>
          </ul>
          <ul class="navbar-nav mr-0">
              <li class="nav-item sign-in display-center">
                  <a href="/users/login" class="nav-link">Sign in</a>
              </li>
              <li class="nav-item">
                  <button class="btn btn-outline-secondary btn-lg text-info font-weight-bold join-meeting" >Join a meeting</button>
              </li>
              <li class="nav-item">
                  <button class="btn btn-lg btn-info text-light font-weight-bold new-meeting">Start a meeting</button>
              </li>
          </ul>
      </div>
  </nav>
  </body>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Register
        </h1>
        <%- include ("./partials/messages"); %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      </div>
    </div>
  </div>